name: Check-out
on:
  # schedule every weekdays at 17:00 (UTC+7) / 12:00 (UTC)
  # in the past, "0 12 * * 1-5" runs at around 19:30 (UTC+7), so I changed it to "30 10 * * 1-5" to run at 17:30 (UTC+7)

  # changed to "0 11 * * 1-5" from "30 10 * * 1-5" expecting will run at around 18:00 (previously around 17:30)

  # -- 24 Feb 2023
  # changed to multi cron schedule
  schedule:
    - cron: "0 11 * * 1,5"
    - cron: "3 11 * * 2,3"
    - cron: "7 11 * * 4"
  workflow_dispatch:

jobs:
  check-out:
    env:
      ACCOUNT_EMAIL: ${{ secrets.ACCOUNT_EMAIL }}
      ACCOUNT_PASSWORD: ${{ secrets.ACCOUNT_PASSWORD }}
      GEO_LATITUDE: ${{ secrets.GEO_LATITUDE }}
      GEO_LONGITUDE: ${{ secrets.GEO_LONGITUDE }}
      CHECK_TYPE: "CHECK_OUT"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 6.32.9
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "pnpm"
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Checking Out
        run: node index.js
